body{
    font-size: 20px;
}

:root{
    font-size: 30px;
}
.typography{
    margin-top: 150px;
    text-align: center;

    font-size: 2em;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.styled-div{
    font-size: 3em;
}